// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.container {
  padding: 6rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lora', serif;
  .logoWrapper {
    text-align: center;
    // text-transform: uppercase;
    margin-bottom: 2rem;
    .logo {
      height: 13rem;
      width: 13rem;
      fill: #3c4346;
    }
    p {
      font-size: 2rem;
      margin-bottom: 0;
    }
    span {
      font-size: 1rem;
    }
  }
  .about {
    text-align: center;
    span {
      color: #666;
    }
    .divider {
      margin: 2rem auto;
      width: 3.5rem;
      height: 0.188rem;
      background-color: #666;
      border-radius: 0.25rem;
    }
  }
}
